POSTGRES_DB=northlife
POSTGRES_USER=northlife
POSTGRES_PASSWORD=
ConnectionStrings__Database=
Authentication__JwtKey=
ASPNETCORE_ENVIRONMENT=Development

# Required only when running --bootstrap-admin
BootstrapAdmin__Email=
BootstrapAdmin__Password=
BootstrapAdmin__FullName=
BootstrapAdmin__Phone=
BootstrapAdmin__BusinessName=
